* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.clearfix:after {
    content: '';
    display: table;
    clear: both;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.product-container {
    float: left;
    width: calc(100% / 3 - 20px);
    margin: 50px 10px;
}

.image-container img{
    width: 100%;
}

.text-container h4 {
    font-size: 0.8em;
    font-weight: normal;
    margin: 5px 0 0;
}

.text-container h1{
    font-size: 1em;
    text-transform: uppercase;
}

.text-container span {
    font-size: 0.9em;
}

.text-container span.red-price {
    color: red;
    font-weight: bold;
}

.text-container span.lined-price {
    text-decoration: line-through;
    font-weight: bold;
}