/* common */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.clearfix:after {
    content: '';
    display: table;
    clear: both;
}

.relative {
    position: relative;
}

/* container  */
.container {
    width: 80%;
    margin: 0 auto;
}

.product-container {
    float: left;
    width: calc(100% / 3 - 20px);
    margin: 30px 10px;
}

.text-container{
    line-height: 1.2em;
}

/* specifiche  */
.image-container img{
    width: 100%;
}

.text-container h4 {
    font-size: 0.9em;
    font-weight: normal;
    margin: 5px 0 0;
}

.text-container h1{
    font-size: 1em;
    text-transform: uppercase;
}

.text-container span {
    font-size: 0.9em;
}

.text-container span.red-price {
    color: red;
    font-weight: bold;
}

.text-container span.lined-price {
    text-decoration: line-through;
    font-weight: bold;
}

/* banner in immagini  */

.heart{
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 2em;
    position: absolute;
    top:20px;
    right: 0;
    background-color: white;
    z-index: 2;
}

.discount-container {
    position: absolute;
    bottom: 20px;
    left: 0;
    z-index: 2;
}

.sconto {
    background-color: red;
    display: inline-block;
    font-size: 0.8em;
    font-weight: bold;
    color: white;
    padding: 4px;
}

.green-banner {
    background-color: green;
    display: inline-block;
    font-size: 0.8em;
    font-weight: bold;
    color: white;
    padding: 4px;
}

/* hover */

.image-container img.hover {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.image-container:hover img.hover {
    display: block;
    z-index: 1;
}